.nav {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
}

.nav__list {
  display: flex;
  justify-content: space-between;

  margin: 40px 60px;
  font-size: 20px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0);
}
.nav__link__text {
  color: azure;
}

.nav__link {
  text-decoration: none;
  position: relative;
}
/* drop down menu make tip!! */
.navbar {
  overflow: hidden;
}
.navbar a {
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
  font-weight: 300;
  font-family: "Recursive", sans-serif;
  background-color: inherit;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: rgba(197, 197, 201, 0.35);
  border-radius: 8px;
}

.dropdown-content {
  display: none;
  position: absolute;
  font-size: 16px;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: azure;
  text-decoration: none;
  display: block;
  text-align: left;
  padding-left: 6px;
  margin-top: 9px;
}

.dropdown-content a:hover {
  background-color: rgba(197, 197, 201, 0.35);
}
.dropdown:hover .dropdown-content {
  display: block;
}
